.detail{font-family:Roboto,Roboto-Medium}
.detail .img{width:100%}
.detail .gray{color:#b6b6b6}
.detail .red{color:#f47766}
.detail .red_icon{width:10rpx;height:20rpx;background:#ee5016}
.detail .detail_share{display:flex;align-items:center;justify-content:space-between;padding:0 0 0 20rpx}
.detail .detail_share .detail_share_left{display:flex;align-items:center}
.detail .detail_share .detail_share_left .detail_share_left_title{font-size:32rpx;margin-left:24rpx;font-weight:700;color:#17273a}
.detail .detail_share .detail_share_right{width:98rpx;height:102rpx}
.detail .detail_main{background:#f9f9f9;min-height:100vh;padding-bottom:120rpx}
.detail .detail_main .detail_main_title{display:flex;align-items:center;margin-bottom:20rpx}
.detail .detail_main .detail_main_title .detail_main_title_font{margin-left:24rpx;font-size:32rpx;font-weight:700;color:#17273a}
.detail .detail_main .detail_main_order{padding:20rpx 30rpx;background:#fff;margin-top:12rpx}
.detail .detail_main .detail_main_item{display:flex;flex-wrap:wrap;justify-content:space-between;min-height:64rpx;line-height:64rpx}
.detail .detail_main .detail_main_item .detail_main_status{text-align:right;width:80%;line-height:64rpx}
.detail .detail_main .item_list{height:100%;max-width:368rpx}
.detail .detail_main .detail_main_info{border-top:1px solid #eeeeef;margin-top:20rpx;padding:20rpx 134rpx 0 0rpx;display:flex}
.detail .detail_main .detail_main_info .detail_main_info_icon{min-width:52rpx;max-width:52rpx}
.detail .detail_main .detail_main_info .detail_main_info_mation{margin-left:28rpx}
.detail .detail_main .detail_main_info .detail_main_info_mation .detail_main_info_mation_name{font-size:32rpx;line-height:48rpx;font-weight:700}
.detail .detail_main .detail_main_info .detail_main_info_mation .detail_main_info_mation_phone{font-size:24rpx;padding-left:16rpx}
.detail .detail_main .detail_main_info .detail_main_info_mation .detail_main_info_mation_address{margin-top:6rpx;font-size:24rpx;color:#8f8f8f}
.detail .detail_main .detail_main_info_mation_line{display:flex;align-items:center;margin:45rpx -14rpx 0 -12rpx}
.detail .detail_main .detail_main_info_mation_line .line{width:42rpx;height:8rpx;-webkit-transform:skew(-45deg,0);transform:skew(-45deg,0)}
.detail .detail_main .detail_main_info_mation_line .line:nth-child(odd){background:#ff7846}
.detail .detail_main .detail_main_info_mation_line .line:nth-child(even){background:#649dff}
.detail .detail_main .detail_main_info_mation_line .lingmrlr6{margin:0 6rpx}
.detail .detail_main .border{margin:20rpx 0;border-bottom:1px solid #f3f3f4}
.detail .detail_foot{background:#f9f9f9;width:100%;height:200rpx}
.detail .detail_append{width:100%;padding:10rpx 0 10rpx 80rpx;position:fixed;bottom:0;height:98rpx;background-color:#fff;box-shadow:0rpx 4rpx 24rpx 0rpx rgba(0,0,0,.1)}
.detail .detail_append .detail_append_btn{width:600rpx;height:78rpx}
