.comfirm{position:relative;background:#fff;min-height:100vh;padding-bottom:100rpx}
.comfirm .comfirm-title{display:flex;align-items:center;justify-content:flex-start;margin:30rpx 0;font-size:32rpx;font-weight:700;color:#17273a}
.comfirm .comfirm-title .comfirm-op{width:10rpx;height:20rpx;margin-right:10rpx;background:#ee5016}
.comfirm .detail{padding:0 30rpx}
.comfirm .detail .goods{display:flex;align-items:flex-start;justify-content:center}
.comfirm .detail .goods uni-image{width:180rpx;height:180rpx;margin-right:30rpx}
.comfirm .detail .goods .goods-desc{flex:1}
.comfirm .detail .goods .goods-desc .goods-title{display:flex;align-items:center}
.comfirm .detail .goods .goods-desc .goods-title .goods-title-text{width:400rpx;font-weight:700}
.comfirm .detail .goods .goods-desc .goods-title .goods-num{margin-left:30rpx;font-size:28rpx;font-family:Roboto,Roboto-Regular;color:#b9b9b9}
.comfirm .detail .goods .goods-desc .goods-finance{margin-top:20rpx;font-family:Roboto,Roboto-Regular;font-weight:400;font-size:28rpx}
.comfirm .detail .goods .goods-desc .goods-finance .price{color:#17273a}
.comfirm .detail .goods .goods-desc .goods-finance .interest{margin-top:16rpx;color:#ff5c5c}
.comfirm .detail .goods .goods-desc .goods-price{display:flex;align-items:center;justify-content:flex-start;width:100%;margin-top:20rpx}
.comfirm .detail .goods .goods-desc .goods-price .goods-price-old{margin-right:30rpx;font-size:28rpx;font-family:Roboto,Roboto-Regular;color:#b9b9b9;text-decoration:line-through}
.comfirm .detail .goods .goods-desc .goods-price .goods-price-new{font-size:32rpx;font-family:Roboto,Roboto-Bold;font-weight:700;color:#ff5c5c}
.comfirm .c-divider{width:calc(100% - 60rpx);margin:0 30rpx;margin-top:46rpx}
.comfirm .pay{padding:0 30rpx}
.comfirm .pay .comfirm-title{margin:10rpx 0}
.comfirm .pay .pay-list .pay-item{display:flex;flex-direction:row;align-items:center;justify-content:center;width:100%;margin:20rpx 0;padding:10rpx 0}
.comfirm .pay .pay-list .pay-item .pay-icon{width:142rpx;height:68rpx;margin-right:20rpx}
.comfirm .pay .pay-list .pay-item .pay-name{flex:1;font-size:28rpx;font-family:Roboto,Roboto-Regular;color:#17273a}
.comfirm .pay .pay-list .pay-item .pay-radio{width:34rpx;height:34rpx;border:2rpx solid #b9b9b9;border-radius:50%}
.comfirm .pay .pay-list .pay-item .pay-op{width:0;height:0}
.comfirm .pay .pay-list .pay-item .pay-select{display:flex;flex-direction:row;align-items:center;justify-content:center;border:2rpx solid #ee5016;border-radius:50%}
.comfirm .pay .pay-list .pay-item .pay-select .pay-op{width:18rpx;height:18rpx;background:#ee5016;border-radius:50%}
.comfirm .btn{display:flex;flex-direction:row;align-items:center;justify-content:center;position:fixed;left:0;bottom:0;width:100%;height:98rpx;background:#fff;box-shadow:0rpx 4rpx 24rpx 0rpx rgba(0,0,0,.1)}
.comfirm .btn .btn-buy{display:flex;flex-direction:row;align-items:center;justify-content:center;width:100%;height:100%;margin:0 30rpx}
.comfirm .btn .btn-buy .btn-price{flex:1;display:flex;flex-direction:column;align-items:flex-start;justify-content:center;padding-left:30rpx}
.comfirm .btn .btn-buy .btn-price .btn-price-new{font-size:48rpx;font-weight:700;color:#ff5c5c}
.comfirm .btn .btn-buy .btn-price .btn-price-old{text-decoration:line-through;font-size:28rpx;color:#b9b9b9;text-decoration:line-through}
.comfirm .btn .btn-buy .btn-num{margin:0 28rpx}
.comfirm .btn .btn-buy .btn-btn{width:283rpx;height:78rpx}
.comfirm .btn .btn-latest{width:598rpx;height:78rpx}
