.payment{min-height:100vh;background:#f8f8f8}
.payment .nav_right{position:absolute;right:20rpx}
.payment .img{width:100%}
.payment .payment_top{padding-left:38rpx;padding-bottom:20rpx;margin-top:112rpx;background:#fff;border-bottom:1rpx solid #f8f8f8}
.payment .payment_top .payment_top_title{display:inline-block;margin-left:238rpx;ont-size:32rpx;font-family:Roboto,Roboto-Bold;font-weight:700;color:#000}
.payment .payment_main{margin-left:2rpx;padding:30rpx 25rpx 0 34rpx}
.payment .payment_main .payment_card{width:686rpx;height:220rpx;margin-bottom:16rpx;border-radius:16rpx}
.payment .payment_main .payment_card:nth-child(odd){background:linear-gradient(75deg,#8cdcff,#10c7ff)}
.payment .payment_main .payment_card:nth-child(even){background:linear-gradient(82deg,#f76955,#ffb44e)}
.payment .payment_main .payment_card .payment_card_top{padding:30rpx 0 0 40rpx;display:flex;align-items:center}
.payment .payment_main .payment_card .payment_card_top .payment_card_top_img{width:74rpx;height:74rpx;border-radius:50%;overflow:hidden}
.payment .payment_main .payment_card .payment_card_top .payment_card_top_name{color:#fff;margin-left:20rpx;font-size:40rpx}
.payment .payment_main .payment_card .payment_card_number{display:flex;align-items:center;margin-left:69rpx;margin-top:38rpx}
.payment .payment_main .payment_card .payment_card_number .payment_card_number_circular{width:18rpx;height:18rpx;opacity:.5;background:#fff;border-radius:50%;margin-right:12rpx}
.payment .payment_main .payment_card .payment_card_number .payment_card_number_circular:nth-child(4n){margin-right:40rpx}
.payment .payment_main .payment_card .payment_card_number .payment_card_number_item{font-size:40rpx;font-family:Roboto,Roboto-Medium;font-weight:700;color:#fff;letter-spacing:0rpx}
.payment .payment_add{width:600rpx;height:90rpx;border-radius:8rpx;position:fixed;left:74rpx;bottom:40rpx}
