.game{width:100%;min-height:100vh;background:#f9f9f9;padding-bottom:160rpx}
.game .nav_help{position:absolute;right:26rpx;display:flex;align-items:center}
.game .nav_help uni-image{width:28rpx;height:28rpx}
.game .nav_help .nav_help_rule{margin-left:6rpx;font-size:28rpx;font-family:Roboto,Roboto-Regular;font-weight:400;color:#17273a}
.game .cgreen{background:#55e273}
.game .cviolet{background:#ff62ff}
.game .cred{background:#ff4343}
.game .unable{background:#b9b9b9!important;box-shadow:none!important}
.game .game_lucky{margin-top:34rpx;height:918rpx;background:none no-repeat;background-size:100% 100%}
.game .game_lucky .game_lucky_info{margin:0 24rpx;display:flex;align-items:center;justify-content:space-between;height:160rpx;padding:32rpx 36rpx 0 42rpx}
.game .game_lucky .game_lucky_info .game_lucky_info_balance .title{font-size:32rpx;font-family:Roboto,Roboto-Medium;font-weight:500;color:#ec991f}
.game .game_lucky .game_lucky_info .game_lucky_info_balance .price{margin-top:14rpx;font-family:Roboto,Roboto-Medium;font-weight:500;color:#ff5c5c;letter-spacing:0rpx;max-width:360rpx}
.game .game_lucky .game_lucky_info .game_lucky_info_balance .price .font32{font-size:32rpx}
.game .game_lucky .game_lucky_info .game_lucky_info_balance .price .font64{margin-left:6rpx;font-size:64rpx}
.game .game_lucky .game_lucky_info .game_lucky_info_recharge{width:166rpx;height:54rpx;line-height:54rpx;background:#fa5b21;border-radius:199rpx;box-shadow:0rpx -2rpx 4rpx 0rpx #fe8e66 inset;display:flex;align-items:flex-start;justify-content:center}
.game .game_lucky .game_lucky_info .game_lucky_info_recharge .title{color:#fff;font-size:26rpx;font-family:Roboto,Roboto-Regular;font-weight:400}
.game .game_lucky .game_lucky_info .game_lucky_info_recharge .icon{margin-left:8rpx;width:12rpx;height:20rpx}
.game .game_lucky .game_lucky_info .game_lucky_info_recharge .icon uni-image{width:100%;height:100%}
.game .game_lucky .game_lucky_swiper{height:40rpx}
.game .game_lucky .game_lucky_swiper .swiper{height:40rpx}
.game .game_lucky .game_lucky_swiper .swiper .swiper-item{display:flex;align-items:center;justify-content:center}
.game .game_lucky .game_lucky_swiper .swiper .swiper-item .icon{width:32rpx;height:32rpx}
.game .game_lucky .game_lucky_swiper .swiper .swiper-item .icon uni-image{width:100%;height:100%}
.game .game_lucky .game_lucky_swiper .swiper .swiper-item .content{margin-left:10rpx;font-size:26rpx;font-family:Roboto,Roboto-Regular;font-weight:400;color:#8f5601}
.game .game_lucky .game_lucky_swiper .swiper .swiper-item .content .content_text{margin:0 6rpx}
.game .game_lucky .game_lucky_swiper .swiper .swiper-item .content .content_price{color:#ff5c5c}
.game .game_lucky .game_lucky_join{margin-top:40rpx;padding:58rpx 58rpx 0 68rpx}
.game .game_lucky .game_lucky_join .game_lucky_join_period{display:flex;align-items:flex-start;justify-content:space-between;height:88rpx}
.game .game_lucky .game_lucky_join .game_lucky_join_period .game_lucky_join_period_issue{font-family:Roboto,Roboto-Medium;font-weight:500}
.game .game_lucky .game_lucky_join .game_lucky_join_period .title{font-size:28rpx;color:#fcedcf}
.game .game_lucky .game_lucky_join .game_lucky_join_period .title uni-image{margin-left:10rpx;width:24rpx;height:24rpx}
.game .game_lucky .game_lucky_join .game_lucky_join_period .tdown{max-width:400rpx;font-size:44rpx;color:#fff;text-shadow:0rpx 2rpx 2rpx 0rpx #f28f00}
.game .game_lucky .game_lucky_join .game_lucky_tips{margin-top:84rpx;font-size:26rpx;font-family:Roboto,Roboto-Medium;font-weight:500;text-align:center;color:#b05500}
.game .game_lucky .game_lucky_join .game_lucky_join_select{margin-top:36rpx;display:flex;align-items:center;justify-content:space-around}
.game .game_lucky .game_lucky_join .game_lucky_join_select .game_lucky_join_select_button{width:189rpx;height:76rpx;line-height:76rpx;text-align:center;border-radius:4rpx;color:#fff;font-size:32rpx;font-family:Roboto,Roboto-Medium;font-weight:500}
.game .game_lucky .game_lucky_join .game_lucky_join_select .game_lucky_join_select_button:nth-child(1){background:#55e273;box-shadow:0rpx 6rpx 6rpx 0rpx rgba(252,153,11,.6),0rpx -8rpx 14rpx 0rpx #4beb6e inset}
.game .game_lucky .game_lucky_join .game_lucky_join_select .game_lucky_join_select_button:nth-child(2){background:#ff62ff;box-shadow:0rpx 6rpx 6rpx 0rpx #ff9803}
.game .game_lucky .game_lucky_join .game_lucky_join_select .game_lucky_join_select_button:nth-child(3){background:#ff4343;box-shadow:0rpx 6rpx 6rpx 0rpx rgba(252,153,11,.8)}
.game .game_lucky .game_lucky_join .game_lucky_join_nums{display:flex;align-items:center;justify-content:space-around;flex-wrap:wrap}
.game .game_lucky .game_lucky_join .game_lucky_join_nums .number{margin-top:22rpx;width:108rpx;height:62rpx;line-height:62rpx;text-align:center;background:#3a89ff;border-radius:4rpx;font-size:32rpx;font-family:Roboto,Roboto-Medium;font-weight:500;color:#fff;position:relative}
.game .game_lucky .game_lucky_join .game_lucky_join_nums .number .number_icon{line-height:normal;display:flex;align-items:flex-end;justify-content:flex-end;position:absolute;bottom:4rpx;right:4rpx}
.game .game_lucky .game_lucky_join .game_lucky_join_nums .number .number_icon .cicle{margin-left:2rpx;width:14rpx;height:14rpx;border-radius:50%}
.game .game_tab{background-color:#fff;width:100%;margin-top:26rpx;padding:36rpx 0;display:flex;align-items:center;justify-content:center}
.game .game_tab .game_tab_item{display:flex;align-items:center;justify-content:center;flex-direction:column}
.game .game_tab .game_tab_item:nth-child(1){margin-right:110rpx}
.game .game_tab .game_tab_item .game_tab_item_title{font-size:28rpx;font-family:Roboto,Roboto-Medium;font-weight:500;color:#b9b9b9;letter-spacing:0rpx}
.game .game_tab .game_tab_item .game_tab_item_select{width:28rpx;height:12rpx}
.game .game_tab .game_tab_item .game_tab_item_select uni-image{width:100%;height:100%}
.game .game_tab .game_tab_item .tabselect{font-size:32rpx;font-weight:500;color:#17273a}
.game .game_rule{width:688rpx;height:976rpx;background:none no-repeat;background-size:100% 100%;padding:100rpx 30rpx 40rpx 40rpx}
.game .game_rule .game_rule_content{height:100%;width:100%;overflow:hidden;overflow-y:scroll}
.game .game_close{margin-top:16rpx;text-align:center}
.game .game_close uni-image{width:58rpx;height:58rpx}
.game .u-mode-center-box{background-color:initial}
